
<table style="position:relative;margin:0 auto;">
   <tbody>


      <% counter = 0
      neither = true %>
      <% @products.each do |product| %>
      <% if counter == 0 %>
      <tr>
         <td colspan="5" style="text-align:center">
            ACTIVE
         </td>
      </tr>
      <% counter += 1
      neither = false %>
      <% end %>
      <% if product.is_active == 1 %>
      <tr>
         <td><%= product.name %></td>
         <td><%= product.price %></td>
         <td><%= link_to product.url, product %></td>
         <td><%= link_to 'More', product %></td>
         <!-- <td><%= link_to 'Edit', edit_product_path(product) %></td> -->
         <td><%= link_to 'Hide', controller: 'products', action: 'hide', id: product.id %></td>
      </tr>
      <% end %>
      <% end %>

      <% counter = 0 %>
      <% @products.each do |product| %>
      <% if counter == 0 %>
      <tr>
         <td colspan="5" style="text-align:center">
            HIDDEN
         </td>
      </tr>
      <% counter += 1
      neither = false%>
      <% end %>
      <% if product.is_active == 0 %>
      <tr>
         <td><%= product.name %></td>
         <td><%= product.price %></td>
         <td><%= link_to product.url, product %></td>
         <td><%= link_to 'More', product %></td>
         <!-- <td><%= link_to 'Edit', edit_product_path(product) %></td> -->
         <td><%= link_to 'Show', controller: 'products', action: 'unhide', id: product.id %></td>
      </tr>
      <% end %>
      <% end %>
      <% if neither %>
      <tr>
         <td colspan="6" style="text-align:center">
            <%= link_to 'Yo bro, you have no products, get on that!', new_product_path %>
         </td>
      </tr>
      <% end %>
   </tbody>
</table>
