<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @validate_facebook.uid %>
</p>

<p>
  <strong>Time:</strong>
  <%= @validate_facebook.time %>
</p>

<p>
  <strong>Before:</strong>
  <%= @validate_facebook.before %>
</p>

<p>
  <strong>Url:</strong>
  <%= @validate_facebook.url %>
</p>

<p>
  <strong>Url:</strong>
  <%= @validate_facebook.url_id %>
</p>

<%= link_to 'Edit', edit_validate_facebook_path(@validate_facebook) %> |
<%= link_to 'Back', validate_facebooks_path %>
