<% @test %>

<p id="notice"><%= notice %></p>

<h1>Listing Validate Twitters</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Time</th>
      <th>Before</th>
      <th>Url</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @validate_twitters.each do |validate_twitter| %>
      <tr>
        <td><%= validate_twitter.uid %></td>
        <td><%= validate_twitter.time %></td>
        <td><%= validate_twitter.before %></td>
        <td><%= validate_twitter.url %></td>
        <td><%= validate_twitter.url_id %></td>
        <td><%= link_to 'Show', validate_twitter %></td>
        <td><%= link_to 'Edit', edit_validate_twitter_path(validate_twitter) %></td>
        <td><%= link_to 'Destroy', validate_twitter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Validate twitter', new_validate_twitter_path %>
