<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @validate_twitter.uid %>
</p>

<p>
  <strong>Time:</strong>
  <%= @validate_twitter.time %>
</p>

<p>
  <strong>Before:</strong>
  <%= @validate_twitter.before %>
</p>

<p>
  <strong>Url:</strong>
  <%= @validate_twitter.url %>
</p>

<p>
  <strong>Url:</strong>
  <%= @validate_twitter.url_id %>
</p>

<%= link_to 'Edit', edit_validate_twitter_path(@validate_twitter) %> |
<%= link_to 'Back', validate_twitters_path %>
