<%= form_for(@validate_instagram) do |f| %>
  <% if @validate_instagram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@validate_instagram.errors.count, "error") %> prohibited this validate_instagram from being saved:</h2>

      <ul>
      <% @validate_instagram.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uid %><br>
    <%= f.number_field :uid %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :before %><br>
    <%= f.number_field :before %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :url_id %><br>
    <%= f.number_field :url_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
