<p id="notice"><%= notice %></p>

<h1>Listing Validate Instagrams</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Time</th>
      <th>Before</th>
      <th>Url</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @validate_instagrams.each do |validate_instagram| %>
      <tr>
        <td><%= validate_instagram.uid %></td>
        <td><%= validate_instagram.time %></td>
        <td><%= validate_instagram.before %></td>
        <td><%= validate_instagram.url %></td>
        <td><%= validate_instagram.url_id %></td>
        <td><%= link_to 'Show', validate_instagram %></td>
        <td><%= link_to 'Edit', edit_validate_instagram_path(validate_instagram) %></td>
        <td><%= link_to 'Destroy', validate_instagram, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Validate instagram', new_validate_instagram_path %>
