<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @validate_instagram.uid %>
</p>

<p>
  <strong>Time:</strong>
  <%= @validate_instagram.time %>
</p>

<p>
  <strong>Before:</strong>
  <%= @validate_instagram.before %>
</p>

<p>
  <strong>Url:</strong>
  <%= @validate_instagram.url %>
</p>

<p>
  <strong>Url:</strong>
  <%= @validate_instagram.url_id %>
</p>

<%= link_to 'Edit', edit_validate_instagram_path(@validate_instagram) %> |
<%= link_to 'Back', validate_instagrams_path %>
