<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sender_uid %><br>
    <%= f.number_field :sender_uid %>
  </div>
  <div class="field">
    <%= f.label :recipient_uid %><br>
    <%= f.number_field :recipient_uid %>
  </div>
  <div class="field">
    <%= f.label :payment_amount %><br>
    <%= f.number_field :payment_amount %>
  </div>
  <div class="field">
    <%= f.label :date_occured %><br>
    <%= f.datetime_select :date_occured %>
  </div>
  <div class="field">
    <%= f.label :provider_type %><br>
    <%= f.text_field :provider_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
